provider_installation {
  network_mirror {
    url     = "https://tfmirror.home/"
    include = ["registry.terraform.io/pvginkel/*"]
  }
  direct {
    exclude = ["registry.terraform.io/pvginkel/*"]
  }
}
